################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Antignis
/Antignis.Client/obj/Release
/Antignis.Server/obj
/Antignis.Server/testdata
/Antignis.Client/obj/Debug
*.zip
/Antignis.sln
/Antignis.Server/bin/Debug/Antignis.Server.pdb
/Antignis.Client/bin/Debug/System.ValueTuple.xml
/Antignis.Client/bin/Debug/System.ValueTuple.dll
/Antignis.Client/bin/Debug/System.Threading.Tasks.Extensions.xml
/Antignis.Client/bin/Debug/System.Threading.Tasks.Extensions.dll
/Antignis.Client/bin/Debug/System.Text.Encodings.Web.xml
/Antignis.Client/bin/Debug/System.Text.Encodings.Web.dll
/Antignis.Client/bin/Debug/System.Numerics.Vectors.xml
/Antignis.Client/bin/Debug/System.Numerics.Vectors.dll
/Antignis.Client/bin/Debug/System.Memory.xml
/Antignis.Client/bin/Debug/System.Memory.dll
/Antignis.Client/bin/Debug/System.Buffers.xml
/Antignis.Client/bin/Debug/System.Buffers.dll
/Antignis.Client/bin/Debug/Sigil.xml
/Antignis.Client/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
/Antignis.Client/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/Antignis.Client/bin/Debug/Jil.xml
/Antignis.Client/bin/Debug/Antignis.Client.pdb
/Antignis.Client/bin/Debug/Antignis.Client.exe.config
/Antignis.Client/bin/Debug
/Antignis.Server/bin/Debug
/Antignis.Server/Antignis.Server.csproj.user
/Antignis.Server/bin/x86/Release/Antignis.Server.pdb
/Antignis.Client/bin/Release/System.ValueTuple.xml
/Antignis.Client/bin/Release/System.ValueTuple.dll
/Antignis.Client/bin/Release/System.Threading.Tasks.Extensions.xml
/Antignis.Client/bin/Release/System.Threading.Tasks.Extensions.dll
/Antignis.Client/bin/Release/System.Text.Encodings.Web.xml
/Antignis.Client/bin/Release/System.Text.Encodings.Web.dll
/Antignis.Client/bin/Release/System.Numerics.Vectors.xml
/Antignis.Client/bin/Release/System.Numerics.Vectors.dll
/Antignis.Client/bin/Release/System.Memory.xml
/Antignis.Client/bin/Release/System.Memory.dll
/Antignis.Client/bin/Release/System.Buffers.xml
/Antignis.Client/bin/Release/System.Buffers.dll
/Antignis.Client/bin/Release/Sigil.xml
/Antignis.Client/bin/Release/Microsoft.Bcl.AsyncInterfaces.xml
/Antignis.Client/bin/Release/Microsoft.Bcl.AsyncInterfaces.dll
/Antignis.Client/bin/Release/Jil.xml
/Antignis.Client/bin/Release/Antignis.Client.pdb
/Antignis.Client/bin/Release/Antignis.Client.exe.config
